// We are importing a custom icon font from icomoon because we need
// a few icons that are just not in octoicons

@font-face {
  font-family: 'Linter-UI-Plus';
  src:
    url('atom://linter-ui-plus/fonts/linter-ui-plus.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
