@import "ui-variables";

.linter-ui-plus .panel-message {
  padding-left: 35px;
}

.linter-ui-plus .panel-message .excerpt {
  display: flex;
  align-items: center;
  height: inherit;
  position: relative;
}

.linter-ui-plus .panel-message .excerpt::before {
  font-family: 'Linter-UI-Plus';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  font-size: 18px;
  // top: 2px;
  position: relative;
  width: 25px;
}

.linter-ui-plus .panel-message.severity-error .excerpt::before {
  content: "\f026";
  color: @text-color-error;
}

.linter-ui-plus .panel-message.severity-warning .excerpt::before {
  content: "\f02d";
  color: @text-color-warning;
}

.linter-ui-plus .panel-message.severity-info .excerpt::before {
  content: "\f059";
  color: @text-color-info;
}

.linter-ui-plus .panel-message .position-row {
  color: @text-color-subtle;
  text-align: right;
  width: 1%;
  padding-left: 25px;
  min-width: 40px;
}

.linter-ui-plus .panel-message .position-separator {
  color: @text-color-subtle;
  text-align: center;
  width: 7px;
}

.linter-ui-plus .panel-message .position-column {
  color: @text-color-subtle;
  text-align: left;
  width: 1%;
  padding-right: 10px;
}

.linter-ui-plus .panel-message .provider {
  // margin-left: 35px;
  margin-left: 4px;
  margin-right: 10px;
  // background: @background-color-highlight;
  background: rgba(255, 255, 255, 0.05);
  border-radius: @component-border-radius;
  padding: 2px 4px;
  font-size: @font-size;
  align-self: center;
}
